<h2>Page not found</h2>
<p>The page you requested could not be found.</p>

<% if edit_mode? and can?(:create, K3cms::Page) %>
  <p>
    <%= form_for @page=K3cms::Page.new do |f| %>
      <%= f.hidden_field :title, :value => params[:requested_path].gsub(%r(^/), '') %>
      <%= f.hidden_field :url,   :value => params[:requested_path] %>
      Would you like to
      <%= f.submit 'create it now' %>?
    <% end %>
  </p>
<% end %>
