= form_for @page, :html => {:id => 'ribbon_new_page_form', :class => 'new_page form hidden'} do |f|
  Title:
  = f.text_field :title
  = f.submit 'Create'

:javascript
  jQuery(function() {
    jQuery('.new_page.button').click(function() {
      console.log('clicked')
      jQuery('.new_page.form').show()
      jQuery('#k3_page_title').focus()
    })
  })

%ul.ribbon
  %li.new_page.button
    New Page
  %li.toggle_edit_mode
    Edit mode: off
  %li.logged_in_as
    Logged in as: An editor


