/*------------------------------------------------------------------------------------------------*/
/* Icons */
.k3cms_pages li.icon.button a {
  background: url(/images/k3cms/pages/icons.png) no-repeat;
}

.k3cms_pages li.icon.button.new_page a        { background-position: 0 -24px;}
.k3cms_pages li.icon.button.page_delete a     { background-position: 0 -48px;}
.k3cms_pages li.icon.button.page_list a       { background-position: 0 -72px;}
.k3cms_pages li.icon.button.page_metadata a   { background-position: 0 -96px;}
.k3cms_pages li.icon.button.b5 a              { background-position: 0 -121px;}
.k3cms_pages li.icon.button.b6 a              { background-position: 0 -144px;}
.k3cms_pages li.icon.button.b7 a              { background-position: 0 -168px;}
.k3cms_pages li.icon.button.b8 a              { background-position: 0 -192px;}
.k3cms_pages li.icon.button.b9 a              { background-position: 0 -384px;}
.k3cms_pages li.icon.button.b10 a             { background-position: 0 -408px;}
.k3cms_pages li.icon.button.b11 a             { background-position: 0 -430px;}
.k3cms_pages li.icon.button.b12 a             { background-position: 0 -454px;}
.k3cms_pages li.icon.button.b13 a             { background-position: 0 -502px;}
.k3cms_pages li.icon.button.b14 a             { background-position: 0 -526px;}
.k3cms_pages li.icon.button.b15 a             { background-position: 0 -552px;}
.k3cms_pages li.icon.button.b16 a             { background-position: 0 -574px;}
.k3cms_pages li.icon.button.b17 a             { background-position: 0 -598px;}
.k3cms_pages li.icon.button.b18 a             { background-position: 0 -624px;}
.k3cms_pages li.icon.button.b19 a             { background-position: 0 -648px;}
.k3cms_pages li.icon.button.b20 a             { background-position: 0 -672px;}
.k3cms_pages li.icon.button.b21 a             { background-position: 0 -696px;}
.k3cms_pages li.icon.button.b22 a             { background-position: 0 -720px;}
.k3cms_pages li.icon.button.b23 a             { background-position: 0 -744px;}

/*------------------------------------------------------------------------------------------------*/
