:javascript
  jQuery(function() {
    K3cms_InlineEditor.initRibbon();
    K3cms_InlineEditor.initInlineEditor();
  });

- if params[:focus]
  :javascript
    jQuery(function() {
      var el = $('#{params[:focus]}').eq(0).focus()
    });
