body {
  margin-top: 0;
}

.hidden {
  display: none;
}

#k3_ribbon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* This should be the same height as the ribbon in order to push the actual page contents down so that the top is aligned with the bottom of the ribbon. */
#k3_ribbon_beneath {
  height: 48px;
}

#k3_ribbon,
#k3_ribbon ul
{
  margin: 0;
  padding: 0;
  /*border: 1px solid gray;*/
}
#k3_ribbon li {
  display: block;
  float: left;
  padding: 2px 5px;
  background-color: white;

  border-width: 1px;
  border-style: solid;
  border-top-color: #ddd;
  border-right-color: #666;
  border-bottom-color: #666;
  border-left-color: #ddd;
}

#k3_ribbon ul.row_2 {
  clear: both;
}

.clear {
  clear: both;
}

.drawer {
  position: absolute;
  padding: 10px;
  width: 90%;
  background: white;
  border: 1px solid black;
}
