<h2>Page not found</h2>
<p>The page you requested could not be found.</p>

<% if logged_in? %>
  <p>
    Would you like to
    <%= link_to 'create it now', new_k3_page_path(:k3_page => {:url => params[:requested_path]}) %>?
  </p>
<% end %>
